<ul>
    {% for place in places %}
    <li>
        <div class="row">
            <div class="small-6 large-8 columns">
                <div class="row title">{{ place.name }}</div>
                 <div class="row info">Distancia: {{ place.distance }}</div>
                <div class="row info">Tlf: {{ place.phones|first }}</div>
                {% if place.price.range %}
                  <div class="row info">Precio: {{ place.price.range }}</div>
                {% endif %}
                {% if place.web %}
                    <div class="row info"><a href="{{ place.web }}" target="_BLANK">Ir a la web</a></div>
                {% endif %}
                 
            </div>
            <div class="small-6 large-4 columns">
                <a target="_BLANK" href="http://maps.google.com/?q={{place.address|url_encode}}"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{place.address|url_encode}}&key=AIzaSyAmbXq8KeJgDXoUTdpCyr7K-n3mrKBpPMg&sensor=false&size=200x200&zoom=13&markers={{place.address|url_encode}}"/></a>
            </div>
        </div>
    </li>
    {% else %}
        <li>
           <span class="title">No hay pistas en tu ciudad, prueba con otra búsqueda.</span>
        </li>
    {% endif %}

</ul>  

